// ---------------------------------------------------------===
// Others styles
// ---------------------------------------------------------===

// hero
.hero {
    padding: 200px 0 120px;
    position: relative;
    min-height: 736px;

    @include media('<tablet') {
        padding: 81px 0 97px;
        min-height: 400px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 207px;
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(193,35,49,0) 100%);
    }

    .container {
        max-width: 970px;
    }

    .text-wrap {
        max-width: 417px;
    }

    h1 {
        font-size: 128px;
        line-height: 1;
        color: $red;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: -20px;

        @include media('<tablet') {
            font-size: 87px;
            margin-bottom: -11px;
        }
    }

    h2 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 7px;
        padding: 0 10px;

        @include media('<tablet') {
            font-size: 20px;
        }

        span {
            background: $red;
            color: $white;
            padding: 10px 3px 2px;

            @include media('<tablet') {
                padding-top: 9px;
            }
        }
    }
}

// section article
.section-article {
    background: $red;
    padding: 137px 0 20px;

    @include media('<tablet') {
        padding: 10px 0 20px;
    }

    .container {
        max-width: 1069px;
    }

    .box {
        background: $white;
        padding: 119px 159px 69px 43px;
        width: 56.1%;
        float: left;
        margin: -200px -8.1% 0 0;
        position: relative;
        z-index: 1;
        font-size: 34px;
        line-height: 1;
        box-shadow: 10px 10px 10px rgba($black, 0.4);

        @include media('<desktop') {
            padding: 118px 103px 41px 30px;
        }

        @include media('<tablet') {
            float: none;
            width: auto;
            margin: -58px 0 -41px;
            padding: 69px 24px 55px;
            font-size: 26px;
        }
    }

    .img {
        width: 51.1%;
        float: left;
        position: relative;
        z-index: 2;
        margin-bottom: -103px;
        box-shadow: 10px 10px 10px rgba($black, 0.4);

        @include media('<tablet') {
            width: auto;
            float: none;
            margin: 0 16px -103px;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: -4px;
            top: -26px;
            width: 6px;
            height: 50px;
            background: $red;
        }

        &:after {
            height: 6px;
            width: 50px;
            top: -3px;
            left: -28px;
        }

        img {
            width: 100%;
        }

        .plus-lg {
            right: 0;
            top: 0;
            z-index: 2;
        }
    }

    h2 {
        font-size: 53px;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 22px;
        text-transform: uppercase;

        @include media('<desktop') {
            font-size: 38px;
        }

        @include media('<tablet') {
            font-size: 34px;
        }

        a {
            text-decoration: none;
            color: $red;
        }
    }
}

// section partner
.section-partner {
    .top {
        padding-top: 151px;
        padding-bottom: 41px;
        text-align: center;
        font-size: 35px;
        line-height: 1;
        font-weight: 300;
        max-width: 771px;
        position: relative;
        z-index: 1;

        @include media('<desktop') {
            font-size: 30px;
            max-width: 638px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 20%;
            top: -78px;
            bottom: 0;
            transform: translateX(-50%);
            width: 711px;
            height: 712px;
            z-index: -1;
            background: url('../images/arrow01.png') no-repeat 0 0/cover;

            @include media('<desktop') {
                width: 420px;
                height: 420px;
                top: -47px;
            }

            @include media('<tablet') {
                width: 260px;
                height: 260px;
                top: -33px;
            }
        }

        h2 {
            font-size: 69px;
            line-height: 0.91;
            font-weight: 100;
            color: $red;
            margin-bottom: 10px;

            @include media('<desktop') {
                font-size: 52px;
            }

            @include media('<tablet') {
                font-size: 40px;
            }
        }

        strong {
            font-weight: 700;
        }

        p {
            margin-bottom: 18px;
        }
    }

    .img-area {
        min-height: 517px;
        padding: 40px 0 1px;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 4;
    }

    .box {
        background: $white;
        padding: 59px 24px 47px 32px;
        margin-bottom: -48px;
        max-width: 383px;
        float: left;
        position: relative;
        z-index: 1;
        font-size: 34px;
        line-height: 1;
        box-shadow: 10px 10px 10px rgba($black, 0.4);
        font-weight: 300;
        color: $red;

        @include media('<tablet') {
            font-size: 24px;
            line-height: 1.2;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: -4px;
            top: -26px;
            width: 6px;
            height: 50px;
            background: $red;
        }

        &:after {
            height: 6px;
            width: 50px;
            top: -3px;
            left: -28px;
        }

        p {
            margin-bottom: 0;
        }
    }
}

// section offer
.section-offer {
    padding: 1px 0;
    color: $white;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000, .89);
    }

    .box {
        font-size: 34px;
        line-height: 1;
        font-weight: 700;
        float: right;
        width: 399px;
        padding: 174px 36px 130px;
        margin: -35px 0;
        position: relative;
        z-index: 2;

        @include media('<tablet') {
            float: none;
            width: auto;
            padding: 58px 26px 51px;
            font-size: 24px;
            line-height: 1.2;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: $red;
            box-shadow: 10px 10px 10px rgba($black, 0.4);
            z-index: -1;
        }

        .line {
            &:after,
            &:before {
                content: '';
                position: absolute;
                right: -9999px;
                left: -48px;
                border: solid $white;

                @include media('<tablet') {
                    left: -10px;
                }
            }

            &:before {
                top: 116px;
                left: -15px;
                border-width: 1px 0 0;
                z-index: -2;

                @include media('<tablet') {
                    top: 41px;
                    left: -2px;
                }
            }

            &:after {
                border-width: 0 0 1px 1px;
                top: 150px;
                bottom: 93px;
                z-index: -1;

                @include media('<tablet') {
                    top: 49px;
                    bottom: 55px;
                }
            }
        }

        .plus {
            @include media('<tablet') {
                width: 12px;
                height: 12px;
                left: -16px;
                top: 35px;
            }
        }

        span {
            font-weight: 300;
        }
    }

    .txt {
        float: left;
        width: 43%;
        position: relative;
        z-index: 3;
        font-size: 33px;
        line-height: 1;
        font-weight: 300;
        text-transform: uppercase;
        padding: 170px 0 66px;
        text-align: center;

        @include media('<desktop') {
            font-size: 16px;
        }

        @include media('<tablet') {
            float: none;
            width: auto;
            padding: 124px 0 92px;
        }

        span {
            display: block;
        }

        .txt-lg {
            font-size: 189px;
            line-height: .84;
            margin-bottom: -27px;

            @include media('<desktop') {
                font-size: 120px;
                margin-bottom: -14px;
            }
        }

        .txt-md {
            font-size: 68px;
            border: solid rgba($white, .4);
            border-width: 1px 0;
            line-height: .7;
            padding-top: 21px;
            margin-bottom: 7px;
            display: inline-block;

            @include media('<desktop') {
                font-size: 48px;
                padding-top: 14px;
            }
        }

        .txt-sm {
            letter-spacing: 10px;
            padding-left: 11px;
        }
    }

    .plus {
        top: 92px;
        left: -72px;
    }

    .plus-lg {
        top: 0;
        right: 39px;
    }
}